/* TOP BANNER STYLING */

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #fff0ed;
  padding: 40px;
}

.banner__left {
  padding-left: 10%;
  padding-right: 30%;
}

.banner__text {
  margin-top: 20px;
  margin-bottom: 30px;
}

/* PRODUCTS STYLING */

.products {
  text-align: center;
  background: #f7f7f7;
  padding: 40px 0px 40px 0px;
}

.products__title {
  margin-bottom: 20px;
}

.products__img {
  height: 280px;
}

.products__price {
  color: #5bacc3;
  margin-top: 20px;
  margin-bottom: 20px;
}

.products__card-area {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.products__card {
  display: inline-block;
  text-align: center;
  width: 330px;
  height: 440px;
  padding: 20px;
  margin: 20px 5px 20px 5px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px;
  box-shadow: color rgba(0, 0, 0, 0.25);
}

.products__view-all {
  display: block;
  margin: 20px;
}

/* DISCOUNT BANNER STYLING */

.discount-banner {
  display: block;
  background: #fff;
  height: auto;
  text-align: center;
  padding: 160px 5px 160px 5px;
}

.discount-banner__box {
  display: inline-block;
  background-color: #393939;
  width: 90%;
  text-align: center;
  margin: 0px;
  padding: 20px;
}

.discount-banner__text {
  font-size: 2.813rem;
  font-weight: 400;
  color: white;
  margin: 0px;
}

.discount-banner__text--bold {
  font-weight: 700;
}

/* FOOTER STYLING */

.footer {
  background-color: #fff0ed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 10% 40px 10%;
  height: auto;
}

.footer__item {
  padding: 20px;
}

.footer--bold {
  font-weight: 700;
}

.footer__title {
  margin-bottom: 20px;
}

.footer__logo {
  display: inline-block;
  width: 50px;
}
