* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* NAV BAR STYLING */

.nav {
  background: #fff0ed;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav__img {
  height: 100%;
}

.nav__heading {
  display: inline-block;
  height: 100%;
  width: auto;
}

.nav__title {
  text-decoration: none;
  display: inline-block;
}

.nav__list {
  display: inline-block;
  list-style-type: none;
  padding-bottom: 10px;
}

.nav__link {
  color: #393939;
  display: inline-block;
  margin-left: 30px;
  height: 50%;
}

.nav__link--color {
  color: #5bacc3;
}

/* FONT STYLING */

h1,
h2 {
  color: #393939;
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0px;
  text-decoration: none;
}

h3,
.nav__heading,
.footer-heading {
  color: #393939;
  font-size: 2.063rem;
  font-weight: 300;
  margin: 0px;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  font-size: 1.313rem;
  font-weight: 400;
}

p {
  color: #393939;
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* OTHER */

.button-container {
  position: relative;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  text-decoration: none;
  font-size: 1.313rem;
  font-weight: 400;
  color: #fff;
  position: relative;
  border: solid #393939 2px;
  top: 0px;
  left: 0px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.button-text:active {
  top: 5px;
  left: 5px;
}

.button-box {
  background-color: #5bacc3;
  width: 180px;
  height: 50px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.button-box:hover {
  cursor: pointer;
}
